 body {
      margin: 0;
      padding: 0;
      background-color: #000;
      font-family: "Courier New", monospace;
      color: #00ff99;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      overflow: hidden;
    }

    .login-box {
      background: rgba(0, 20, 20, 0.8);
      padding: 40px;
      border: 2px solid #00ff99;
      border-radius: 12px;
      box-shadow: 0 0 25px #00ff99;
      width: 350px;
      text-align: center;
    }

    .login-box h2 {
      margin-bottom: 20px;
      font-size: 28px;
      letter-spacing: 2px;
      text-shadow: 0 0 10px #00ffaa;
    }

    .input-box {
      margin: 15px 0;
      position: relative;
    }

    .input-box input {
      width: 100%;
      padding: 12px;
      background: #4ce4b9;
      border: none;
      border-bottom: 2px solid #00ff99;
      color: #00ff99;
      font-size: 16px;
      outline: none;
      border-radius: 6px;
      transition: 0.3s;
    }

    .input-box input:focus {
      border-color: #00ffaa;
      box-shadow: 0 0 8px #00ffaa;
    }

    .btn {
      margin-top: 25px;
      padding: 12px;
      width: 100%;
      border: none;
      background: #00ff99;
      color: black;
      font-size: 18px;
      font-weight: bold;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.3s;
    }

    .btn:hover {
      background: #00ffaa;
      box-shadow: 0 0 15px #00ffaa;
    }